<div class="navigation">
    {{{arrowImg}}}
</div>
<div class="password_update-content">
    {{{avatar}}}
    <form>
        <div class="form">
            {{{updateFieldOldPass }}}
            <div class="line"></div>
            {{{updateFieldNewPass }}}
        </div>
        <div class="controls">
            {{{button}}}
        </div>
    </form>

</div>
