<div class="navigation">
    <img class="navigation-arrow" src="../../../static/nav_arrow.png" alt="nav arrow">
</div>
<div class="profile_update-content">
    <div class="avatar">
        <img class="avatar-img" src="../../../static/ava_blank.png" alt="avatar">
        <p class="avatar-name">Name</p>
    </div>
    <form>
        <div class="form">
            {{{ updateFieldEmail }}}
            <div class="line"></div>

            {{{ updateFieldLogin }}}
            <div class="line"></div>

            {{{ updateFieldFirstName }}}
            <div class="line"></div>

            {{{ updateFieldLastName }}}
            <div class="line"></div>

            {{{ updateFieldPhone }}}
        </div>
        <div class="controls">
            {{{button}}}
        </div>
    </form>
</div>
