<div class="navigation">
    {{{arrowImg}}}
</div>
<div class="profile_update-content">
    {{{avatar}}}
    <form>
        <div class="form">
            {{{ updateFieldEmail }}}
            <div class="line"></div>

            {{{ updateFieldLogin }}}
            <div class="line"></div>

            {{{ updateFieldFirstName }}}
            <div class="line"></div>

            {{{ updateFieldLastName }}}
            <div class="line"></div>

            {{{ updateFieldPhone }}}
        </div>
        <div class="controls">
            {{{button}}}
        </div>
    </form>
</div>
