<!--<div class="update-field" style="{{style}}">-->
    <label class="update-field_label" for="{{id}}">{{label}}</label>
    <input class="update-field_input" type="{{type}}" id="{{id}}" name="{{id}}">
<!--</div>-->
