<div class="chat-list">
    <div class="chat-list_head">
        {{{link}}}
        <input class="chat-list_input" type="text" name="search" placeholder="Search">
    </div>
    <div class="chat-list_body">
        {{{chatList}}}
    </div>
    <div class="chat-list_footer">
        {{{addChatButton}}}
    </div>
</div>
<div class="chat-main">
    <div class="chat-main_messages">
        {{{messenger}}}
    </div>
    <div class="chat-main_controls">
        {{{addUserButton}}}
        {{{removeUserButton}}}
        {{{message}}}
        {{{sendMessageBtn}}}
    </div>
</div>
