<div class="chat-list">
    <div class="chat-list_head">
        {{{link}}}
        <input class="chat-list_input" type="text" name="search" placeholder="Search">
    </div>
    <div class="chat-list_body">
        {{{chatList}}}

<!--        {{chats}}-->
<!--        {{#each chats}}-->
<!--            <div>{{this.title}}</div>-->
<!--        {{/each}}-->

<!--        <div class="line"></div>-->

<!--        {{{chat}}}-->

<!--        <div class="line"></div>-->

<!--        {{{chat1}}}-->

<!--        <div class="line"></div>-->

<!--        {{{chat2}}}-->

<!--        <div class="line"></div>-->

<!--        {{{chat3}}}-->

    </div>
    <div class="chat-list_footer">
        {{{addChatButton}}}
    </div>
</div>
<div class="chat-main">
    <div class="chat-main_messages">
<!--        {{{receivedMessage}}}-->
<!--        {{{sentMessage}}}-->
        {{{messenger}}}
    </div>
    <div class="chat-main_controls">
        {{{imageAttach}}}
        {{{deleteUser}}}
        {{{message}}}
        {{{sendButton}}}
    </div>
</div>
