<div class="navigation">
    {{{arrowImg}}}
</div>
<div class="profile-content">
    {{{avatar}}}
    <div class="form">

        {{{readonlyFieldEmail}}}
        <div class="line"></div>
        {{{readonlyFieldLogin}}}
        <div class="line"></div>
        {{{readonlyFieldFirstName}}}

        <div class="line"></div>
        {{{readonlyFieldLastName}}}
        <div class="line"></div>
        {{{readonlyFieldPhone}}}

    </div>
    <div class="controls">

        {{{linkUpdateProfile}}}

        <div class="line"></div>
        {{{linkUpdatePassword}}}

        <div class="line"></div>
        {{{linkExit}}}

    </div>
</div>
