<div class="navigation">
    <img class="navigation-arrow" src="../../../static/nav_arrow.png" alt="nav arrow">
</div>
<div class="profile-content">
    <div class="avatar">
        <!--            TODO пофиксать картинки-->
        <img class="avatar-img" src="../../../static/ava_blank.png" alt="avatar">
        <p class="avatar-name">Ivan</p>
    </div>
    <div class="form">

        {{{readonlyFieldEmail}}}
        <div class="line"></div>
        {{{readonlyFieldLogin}}}
        <div class="line"></div>
        {{{readonlyFieldFirstName}}}

        <div class="line"></div>
        {{{readonlyFieldLastName}}}
        <div class="line"></div>
        {{{readonlyFieldPhone}}}

    </div>
    <div class="controls">

        {{{linkUpdateProfile}}}

        <div class="line"></div>
        {{{linkUpdatePassword}}}

        <div class="line"></div>
        {{{linkExit}}}

    </div>
</div>
