<div class="signin-form">
    <h2>Sign In</h2>

    <form>
        <div class="signin-form_input">
            {{{inputLogin}}}
            {{{inputPass}}}
        </div>
        <div class="buttons">
            {{{button}}}
            {{{button2}}}
            {{{link}}}
        </div>
    </form>

</div>
