<div class="signup-form">
    <h2>Sign up</h2>

    <form>
        <div class="signup-form_inputs">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputLastName}}}
            {{{inputPhone}}}
            {{{inputPassword}}}
            {{{inputPasswordRepeat}}}
        </div>
        <div class="buttons">
            {{{button}}}
<!--            <a href="../signIn/signIn.hbs">Sign in</a>-->
            {{{link}}}
        </div>
    </form>

</div>
